body {
    margin: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
}

/* Sketch CSS */
#sketchDiv {
    width: 960px;
    height: 960px;
}

.grid {
    display: grid;
    /*gap: 1rem;*/
    grid-template-columns: repeat(16, 1fr);
}

.squareDivs {
	border: 1px solid black;
	height: 2px;
	width: 2px;
    padding: 11px;
}

.colorHover {
    background-color: green;
}