body {
    margin: 0px;
}

.grid {
    display: grid;
    /*gap: 1rem;*/
    grid-template-columns: repeat(16, 1fr);
}

#squareDivs {
	border: 1px solid black;
	height: 6rem;
	width: 6rem;
    padding: 11px;
}

.colorHover {
    background-color: green;
}