body {
    margin: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
}

/* Sketch CSS */
#sketchDiv {
    width: 960px;
    height: 960px;
}

.grid {
    display: grid;
    /*gap: 1rem;*/
    grid-template-columns: repeat(16, 1fr);
}

.squareDivs {
	position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    padding-top: 100%;
}

.colorHover {
    background-color: green;
}